.login{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
     border-radius: 4px;
}
.loginForm{
    padding: 20px;
    text-align: center;
    background-color: #f2f2f2;
    border: 2px solid #ccc;
    border-radius: 10px;

}
#submitBtn{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
#RegNo,
#password {
    height: 45px;      /* change this value */
    padding: 0 10px;   /* space inside input */
    font-size: 16px;
    border-radius: 4px;
    border:none;
}