.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.box {
    padding: 20px;
    background: #f2f2f2;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
main
{ display: flex;
    justify-content: center;
    justify-items: center;
    padding: 20px;
    text-align: center;
    
}   
.icon{
      border-radius: 4px;
}