.navbar{
    background-color: #065f46;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
 .navbar a { 
    background-color: #10b981;
    text-decoration: none; 
    padding: 6px 10px; 
    border: 1px solid #10b981;
    border-radius: 4px;
     color: white;
}
.navbar a:hover {
    background-color: #047857;
    color: white;
    border-color: #047857;
    transform: scaleY(1.10);
}
body{
    background-color: rgb(245, 238, 227)
}
