
.result-form{
    padding: 20px;
    text-align: center;
    background-color: #f2f2f2;
    border: 2px solid #ccc;
    border-radius: 10px;

}
.result-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
     border-radius: 4px;
}
#submitBtn{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}